<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About us</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

  <style>
    .carousel-inner img {
      width: 90%;
      height: 90vh;
      margin-left: 5%;
      margin-right: 5%;
    }

    p {
      color: black;
      ;
    }

    body {
      background-image: url("../static/assets/forest.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1,
    h3,
    p,
    h5,
    h6 {
      color: white;
    }
  </style>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

          <a  href="/studentrequest" class="btn btn-outline"><i>Request</i></a>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</head>

<body>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../static/assets/tree.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Tree Nursery</b></h5>
          <p><b><i>Tree seedling nurseries run and managed by our students</i></b></p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../static/assets/second.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Club organized tree planting</b></h5>
          <p><b><i>We are passionate about instilling the love of the environment in young hearts.</i></b></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/assets/third.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><b>Green Earth movement</b></h5>
          <p><b><i>Teaching on the importance of recycling</i></b></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section id="main">
    <div class="container">
      <article id="main-col">
        <h1 class="page-title">About Us</h1>
        <p><i>We are a small group of passionate hobbyist gardeners who wanted to share our love for gardening and
            flowers to the rest of the world.</i>

        </p><br>
        <p><i>For more than a decade; we've managed to grow an extraordinary amount of trees and flowers all over the
            country with our student 4k clubs.</i> </p>
        <p><i>Research is at the heart of our operation, and we conduct extensive trials to find the very best cut
            flower varieties,seedlings,planting medium and the latest
            tech in agriculture and forestry to aid in our work</i>

        </p>


      </article>
      <aside id="sidebar">
        <div class="dark">
          <h3>What We Do</h3>
          <p>We are an NGO that acts as a middleman between overseas donors and 4k clubs in schools.
            It is through this funding that we are able to offer boyh financial and material aid to all our member
            schools </p>
          <br>
          <p>Our goal is to teach peaceful cohabitation with the earth to the younger generations,ensuring
            they learn from early on the need to protect and cherish the environment for the benefit of everyone .</p>
          <p>Sustainability of our projects matters to us ,this way,it ensures the work we do today will still hold it's
            weight years to come</p>
        </div>

      </aside>

    </div>
  </section>



  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
          <p>Working hard towards the fruits of our labour(haha) </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <p>1738 lakeside Drive, Valley road, Kenya
            <br />info@mylittlegarden.com
            <br />0721678095
            <br />0743586798
          </p>
        </div>
        <div>
          <div class="footer-copyright text-center">© 2021 Copyright: mylittlegarden.com</div>
  </footer>

</body>

</html>